/* Mobile First */
.bg-modal {
  background: linear-gradient(90deg, #0C0C0D 2.74%, #007CB0 96.64%);
}

.scoring--header--actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.scoring--card {
  background-color: #f3f4f6;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-radius: 6px;
  padding: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.scoring--card--group {
  display: grid;
}

.scoring--card--group .scoring--card {
  width: 100%;
}

.scoring--card--actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scoring--card form {
  display: flex;
  flex-direction: column;
}

.scoring--card--col {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: baseline;
}

.scoring--details--item {
  display: grid;
  margin-top: 4px;
  margin-bottom: 4px;
  width: 100%;
}

.scoring--details--item span {
  font-size: 14px;
}

.scoring--details--item--input {
  background-color: white;
  border: 1px solid #4d4d4d;
  border-radius: 3px;
  padding: 1px 6px;
  box-sizing: border-box;
  display: inline-block;
  height: fit-content;
  font-size: 14px;
  width: 100%;
  /*input input-xs input-inline input-bordered rounded-sm focus:placeholder-gray-500 focus:bg-white focus:border-gray-600 focus:outline-none*/
}

.scoring--details--group {
  width: 100%;
}

.scoring--currency {
  display: flex;
}

.scoring--currency .currency--symbol {
  background-color: #d9d9d9;
  width: 35px;
  text-align: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 25px;
  border-top-color: #4d4d4d;
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-color: #4d4d4d;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: #4d4d4d;
  border-left-style: solid;
  border-left-width: 1px;
}

.scoring--currency .currency--input {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

/* Tablet Small */
@media screen and (min-width: 479px) {

}

/* Tablet */
@media screen and (min-width: 767px) {

}

/* Desktop */
@media screen and (min-width: 992px) {
  .scoring--header--actions {
    flex-direction: row;
    justify-content: space-between;
  }

  .scoring--card form {
    justify-content: space-between;
    flex-direction: row;
  }
  
  .scoring--card--col {
    width: 48%;
  }

  .scoring--details--group {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .scoring--details--group .scoring--details--item {
    width: 48%;
  }

  .scoring--card--group {
    display: flex;
    justify-content: space-between;
  }

  .scoring--card--group .scoring--card {
    width: 49%;
  }

  .scoring--currency {
    width: 48%;
  }

  /*.scoring--details--item--input option {
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
  }*/
}

/* Desktop Large */
@media screen and (min-width: 1024px) {

}

/* Desktop Extra Large */
@media screen and (min-width: 1244px) {

}